{% load static %}

<div class="sidebar text-center">
  <div class="contact-list">
      <div class="contact-card">
          <h5 class="sidebar-button">Location</h3>
          <p class="sidebar-button">123 circle st,  moon city, CA 12345 USA.</p>
      </div>
      <div class="contact-card">
        <h5 class="sidebar-button">Contact Number</h3>
        <p class="sidebar-button">000-000-1111</p>
    </div>
    <div class="contact-card">
        <h5 class="sidebar-button">Email Address</h3>
        <p class="sidebar-button">admin@preppoint.com</p>
    </div>
</div>
</div>