{% extends "base.html" %}
{% block title %}Contact Us{% endblock title %}

{%load static%}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock css %}

{% block content %}

<div class="contact-dashboard">
    {# Left sidebar #}
  <aside class="sidebar-container">
    {% include "pages/contactside.html" %}
  </aside>

    <div class="contact">
        <div class="contact-head">
            <h2>CONTACT</h2>
            <p>Contact us about any inquery. </p>
        </div>

        <div class="contact-section">
            <form class="contact-form" method="post">
                {%csrf_token%}
                <div class="name-wrap">
                    <div class="name-section">
                        <label>First Name:</label>
                        {{form.firstname}}
                    </div>
                    <div class="name-section">
                        <label>Last Name:</label>
                        {{form.lastname}}
                    </div>
                </div>
                    <label>Email:</label>
                    {{form.email}}
                    <hr>

                    <label>Subject:</label>
                    {{form.subject}}
                    <label>Message:</label>
                    {{form.message}}
                <br>
                <!-- re-captcha widget -->
                <div class="g-recaptcha" data-sitekey="6LeWTCorAAAAAI5ZeRuDrlyQR5him19NP67bqKbg"></div>

                <div class="contact-btns">
                    <button class="edit-btn" type="submit">SEND</button>
                </div>
                <br>
                {%if messages%}
                    {%for msg in messages%}
                    <div class="messages">
                        <label class="alert{{msg.tags}}">{{msg}}</label>
                    {%endfor%}
                    </div>
                {%endif%}
            </form>
        </div> 
</div>




{%block js%}
<!-- setup recaptcha -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{%endblock%}

{% endblock content %}