
.navbar-brand{
    width:40%;
    padding:0 0 0 5rem;
}
.center-row{
    width:40%;
    display:flex;
    gap:2rem;
    padding:0 5rem 0 5rem;
}

a{
    text-decoration: none;
}
.nav{
    color:white;
}
.nav:hover{
    color:rgb(67, 231, 196);
}
.nav::after{
    color:rgb(255, 255, 255);
}