:root{
    --background-color:#0e0c15;
    --primary:#2bb4f3;
    --footer:#7c87f2;
    --link:#0ea3e6;
    --success:#2fd0ba;
    --error:#f170b1;
    --nav:#21da83;
    --button:linear-gradient(120deg, #939dfb 0%, #575af5 100%);
    --grad:linear-gradient(65deg,#41ce8c, #647eff,#647eff,#c2ccff);
    --DM-font:font-family: "Inter",sans-serif;
}

body{
    background-color: var(--background-color);
    background-image: url("/static/img/pattern.png");
    background-repeat: repeat;       
    background-position: center center; 
    background-size: cover;  
    color:rgb(255, 255, 255);
}

.text-center{
    text-align: center;
}

header{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    margin-top:0;
    background: #212529;
    padding: 0.6rem 0;
    font-family: var(--DM-font);
}

.nav-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2rem 0 2rem;
}
  
.nav-left .logo img {
    height: 20px;
}
  
.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem;
}
.nav-menu a:hover {
    color: whitesmoke;
    border-bottom:2px solid var(--primary); 
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.nav-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
  

.nav-avatar-default {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #624db0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
  
.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
}
/* .drop-container{

    display: inline-block;

} */
.user-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 0.9rem;
}
.user-name {
    font-weight: 600;
}
.user-email {
    font-size: 0.8rem;
    opacity: 0.8;
}
  
.btn {
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.9rem;
}

.signup-btn {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.signup-btn:hover {
    background: #fff;
    color: #111;
}

.login-btn {
    background: #fff;
    color: #111;
}
.login-btn:hover {
    background: #eee;
}
  
.center-row {
  width: 40%;
  display: flex;
  gap: 2rem;
  padding: 0 5rem;
  align-items: center;
}


.profile-btn,
.profile-btn:hover{
    color:none;
    border:none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
}

/* animation all pages */
@keyframes slideIn {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
}

.nav-dropdown {
    display:none;
    position:absolute;
    right: 0;
    top: 100%;                  
    background: #222; 
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    min-width: 10rem;
    padding: 1rem 0;
    z-index: 50;
}

.user-info:hover .nav-dropdown {
  display: block;
}

.nav-dropdown a,
.nav-dropdown .dropdown-logout {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  text-align: left;
  background: none;
  border: none;
  font-size: 0.9rem;
  font-family: var(--DM-font);
  overflow: hidden;
}

.nav-dropdown a:hover{
  background: rgba(255,255,255,0.1);
  width: 80%;
}

.dropdown-logout:hover {
background: rgba(255,255,255,0.1);
  cursor: pointer;
  width: 100%;
}