:root{
    --background-color:#080808;
    --primary:#2bb4f3;
    --footer:#7c87f2;
    --link:#0ea3e6;
    --success:#2fd0ba;
    --error:#f170b1;
    --nav:#21da83;
    --button:linear-gradient(120deg, #939dfb 0%, #575af5 100%);
    --grad:linear-gradient(65deg,#41ce8c, #647eff,#647eff,#c2ccff);
    --DM-font:font-family: "Inter",sans-serif;
}

.project-form {
    margin-top:3rem;
    padding: 0 20% 0 20%;
}


.project-form h2{
    display: inline-block;
    color: rgb(160, 160, 160);
    font-size:2rem;

}
.project-form-head{
    display: flex;
    justify-content: center;
}
.project-form-container{
    margin-top: 1rem;
    text-decoration: none;
    background: #1e2028;
    padding:1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    /* animation: slideIn .8s linear; */
}

.project-inner label{
    font-size: 18px;
}

.project-inner input, 
.project-inner textarea{
    margin-top: 0.5rem;
    width:100%;
    margin-top:0.5rem;
    border-radius: 0.2rem;
    border: 0;
    height: 2rem;
    color:whitesmoke;
    background-color: #131111 !important;
    border-color: #624db0;
}


.project-form-container label{
    text-align: left;
}

.edit-btn{
    font-size: 1rem;
    width: 100%;
    padding-top:0.3rem;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    background: var(--button);
    color: white;
    cursor: pointer;

}

.google-btn:hover,
.edit-btn:hover{
    transform: scale(1.02);
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.918);

}





/*signup*/
.signup-form-head{
    display: flex;
    justify-content: center;
}

.signup-form-head h2{
    display: inline-block;
    color: rgb(160, 160, 160);
    font-size:2rem;

}

.signup-form-wrap{
    margin-top: 2rem;
    text-decoration: none;
    background: transparent;
    padding:1rem 20% 1rem 20%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    /* animation: slideIn .8s linear; */
}

.signup-container{
    margin-top: 1rem;
    text-decoration: none;
    background: #1e2028;
    padding:1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

/* .signup-form{
    display: flex;
    flex-direction: column;

} */
.name-wrap{
    margin-top:1rem;
    display: flex;
    justify-content: space-between;
}
.name-section{
    width:46%;
    display: inline-flex;
    flex-direction: column;
}

.name-section label{
    text-align: left !important;
    font-size: 18px;
}

.name-section input,
.name-full input{

    margin-top:0.5rem;
    border-radius: 0.2rem;
    border: 0;
    height: 2rem;
    color:whitesmoke;
    background-color: #131111;
    border-color: #624db0;
}

.name-full{
    margin-top: 1rem !important;
}
.name-full input{
    margin-bottom: 0.5rem;
    width: 100%;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.google-btn{
    font-size: 1rem;
    width: 100%;
    /* text-align: center; */
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
    background: var(--error);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}
.google-btn a{
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: whitesmoke;
}

.sign-btn P{
    font-size: 20px;
}
.sign-btn a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(61, 107, 233);
}
.sign-btn a:hover{
    transform: scale(1.02);
    padding:0 0 0.5rem 0;
    border-bottom:2px solid #48bff7;
    color: rgb(86, 190, 231);
}

