{% extends "base.html" %}

{% block title %}
  Delete {{ interview.wanted_role }}
{% endblock title %}
{%load static%}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock css %}


{% block content %}
<div class="delete-form">
  <h1>Delete this interview?</h1>
  <p>
    Are you sure you want to delete  
    <strong>{{ interview.wanted_role }}</strong>  
    (created on {{ interview.created_by|date:"F j, Y, g:i a" }})?
  </p>
  <form method="post">
    {% csrf_token %}
    <div class="delete-button-set">
    <button type="submit" class="submit-button">Confirm</button>
    <a href="{% url 'interview_list' %}">
      <button type="button" class="cancel-button">Cancel</button>
    </a>
    </div>
  </form>
</div>
{% endblock content %}
