{% extends "base.html" %}
{% block title %}Interview: {{ interview.wanted_role }} at {{ interview.company_name }}{% endblock title %}
{%load static%}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock css %}



{% block content %}
  <div class="detail-head">
    <h4>{{ interview.company_name }}</h4>
    <h2>Interview for {{ interview.wanted_role }} </h2>
    <p class="detail-head-p"><strong>Type:</strong> {{ interview.question_type }}</p>
    <p class="detail-head-p"><strong>Technology:</strong> {{ interview.technology }}</p>
    <p class="detail-head-p"><small>Started on {{ interview.created_by|date:"F j, Y, g:i a" }}</small></p>

  <div class="actions">
    <a href="{% url 'redo' interview.pk %}">
      <button class="edit-btn">Re-take Interview</button>
    </a>

    <a href="{% url 'interview_delete' interview.pk %}">
      <button class="del-btn">Delete Interview</button>
    </a>
  </div>

  <hr>
  </div>

  <h4 class="chat-his-head text-center">Conversation</h4>
  <div class="chat-history">
    {% for msg in messages %}
      {% if msg.role == 'assistant' %}
        <p><strong class="interviewer">Interviewer:</strong> &nbsp;{{ msg.content }}</p>
      {% elif msg.role == 'user' %}
        <p><strong class="user">{{user.first_name}}:</strong>&nbsp; {{ msg.content }}</p>
      {% endif %}
    {% empty %}
      <p><em>No conversation has been recorded.</em></p>
    {% endfor %}
  </div>




{% endblock content %}
